@import "tailwindcss";
@plugin "daisyui"{
  themes: dark;
}

:root {
  --background: #171717;
  --navigation-background: #1a1a1a;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: transparent;
  color: #ffffff;
  font-size: 2.5rem;
  margin: 0; 
  text-align: center;
}

nav {
  background-color: transparent;
  font-size: 1.5rem;
  margin: 1rem 0; 
  text-align: center;
}

header {
  background-color: #000000;
  padding: 1.5rem ; 
}